/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* html,
body,
body div,
video,
canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    top: 0px;
    left: 0px;
} */


a {color: #8ff;}
#stack {
    position:absolute; 
    bottom:0px; 
    width: 25%;
    /* height: 25%;  */
    /* left:0px; */
    text-align: center;}
#menu {
    bottom: 20px;
    width: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
  }

#CSS {
  visibility: hidden;
  opacity: 0;
}
.element {
    width: 120px;
    height: 160px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;}
.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);}
    .element .number {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 12px;
        color: rgba(127,255,255,0.75);}
    .element .symbol {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 0px;
        font-size: 60px;
        font-weight: bold;
        color: rgba(255,255,255,0.75);
        text-shadow: 0 0 10px rgba(0,255,255,0.95);}
    .element .details {
        position: absolute;
        bottom: 15px;
        left: 0px;
        right: 0px;
        font-size: 12px;
        color: rgba(127,255,255,0.75);}
button {
    font-size: 11px;
    color: rgba(127,255,255,0.75);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;}
button:hover {
    background-color: rgba(0,255,255,0.5);}
button:active {
    color: #000000;
    background-color: rgba(0,255,255,0.75);}

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
display: grid;
justify-content: center;
align-items: center;
/* background-image: url("../../images/jpg/futuristic-symmetry-reflection-abstract-background-with-orange-blue-neon-lights.jpg"); */
background-repeat: no-repeat;
background-size: cover;
}
.navbar {
overflow: hidden;
background-color: #333;  
position: fixed;
bottom: 0;
width: 100%;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background-color: #ddd;
color: black;
}

.navbar a.active {
background-color: #4CAF50;
color: white;
}

.navbar .icon {
/* display: none; */
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom:0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}
html, body {
    height: 100%;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #424949;
    background-color: #ECF0F1;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  h1 {
    text-align: center;
    height: 38px;
    margin: 60px 0;
  }
  h1 span {
    white-space: nowrap;
  }
  
  .flex-parent {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
    background-color: #00000080;
    position: fixed;
    bottom: 0;
    width: 80%;
    justify-content: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
  }
  .input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    height: 250px;
    max-width: 1000px;
    position: relative;
    z-index: 0;
    background-color: #00000080;
    bottom: 32px;
    justify-content: space-evenly;
  }
  .input {
    width: 25px;
    height: 25px;
    background-color: #2C3E50;
    position: relative;
    border-radius: 50%;
  }
  .input:hover {
    cursor: pointer;
  }
  .input::before, .input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2C3E50;
    width: 4vw;
    height: 5px;
    max-width: 50px;
  }
  .input::before {
    left: calc(-4vw + 12.5px);
  }
  .input::after {
    right: calc(-4vw + 12.5px);
  }
  .input.active {
    background-color: #2C3E50;
  }
  .input.active::before {
    background-color: #2C3E50;
  }
  .input.active::after {
    background-color: #AEB6BF;
  }
  .input.active span {
    font-weight: 700;
  }
  .input.active span::before {
    font-size: 13px;
  }
  .input.active span::after {
    font-size: 15px;
  }
  .input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
    background-color: #AEB6BF;
  }
  .input span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  .input span::before, .input span::after {
    visibility: visible;
    position: absolute;
    left: 50%;
  }
  .input span::after {
    content: attr(data-year);
    top: 25px;
    transform: translateX(-50%);
    font-size: 14px;
  }
  .input span::before {
    content: attr(data-info);
    top: -65px;
    width: 70px;
    transform: translateX(-5px) rotateZ(-45deg);
    font-size: 12px;
    text-indent: -10px;
  }
  
  .description-flex-container {
    width: 80vw;
    font-weight: 400;
    font-size: 22px;
    margin-top: 100px;
    max-width: 1000px;
  }
  .description-flex-container p {
    margin-top: 0;
    display: none;
  }
  .description-flex-container p.active {
    display: block;
  }
  
  @media (min-width: 1250px) {
    .input::before {
      left: -37.5px;
    }
  
    .input::after {
      right: -37.5px;
    }
  }
  @media (max-width: 850px) {
    .input {
      width: 17px;
      height: 17px;
    }
    .input::before, .input::after {
      height: 3px;
    }
    .input::before {
      left: calc(-4vw + 8.5px);
    }
    .input::after {
      right: calc(-4vw + 8.5px);
    }
  }
  @media (max-width: 600px) {
    .flex-parent {
      justify-content: initial;
    }
  
    .input-flex-container {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: auto;
      margin-top: 15vh;
    }
  
    .input {
      width: 60px;
      height: 60px;
      margin: 0 10px 50px;
      background-color: #AEB6BF;
    }
    .input::before, .input::after {
      content: none;
    }
    .input span {
      width: 100%;
      height: 100%;
      display: block;
    }
    .input span::before {
      top: calc(100% + 5px);
      transform: translateX(-50%);
      text-indent: 0;
      text-align: center;
    }
    .input span::after {
      top: 50%;
      transform: translate(-50%, -50%);
      color: #ECF0F1;
    }
  
    .description-flex-container {
      margin-top: 30px;
      text-align: center;
    }
  }
  @media (max-width: 400px) {
    body {
      min-height: 950px;
    }
  }