* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
body div,
video,
canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    top: 0px;
    left: 0px;
}