/* body {
    background: url("/var/www/crimsonlabs.net/os.crimsonlabs.net/images/jpg/1234.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    } */
.CLABS {
   position: absolute;
   top: -50px;
   right: auto;
}
.feature-lists {
   display: flex;
}
.feature {
   position: relative;
   overflow: hidden;
   top: 175px;
   width: 180px;
   height: 550px;
   background-size: auto 105%;
   background-position: center;
   border-radius: 60px;
   -webkit-box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);
   -moz-box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);
   box-shadow: 0px 0px 10px -1px rgba(255,255,255,1);
   min-width: 100px;
   transition: .5s ease;
   margin: 15px;
}
.logo {
   min-width: 100px;
   text-align: center;
   position: absolute;
   bottom: 10px;
}
.logo img {
   filter: brightness(0) invert(1);
   max-width: 80px;
   max-height: 60px;
}
.feature:hover {
   min-width: 420px;
   background-size: auto 10%;
   border-radius: 10px;
}
.feature-inner {
   position: relative;
   height: 100%;
   display: flex;
   align-items: flex-end;
}
.feature::before {
   content: '';
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   transition: .5s ease;
}
.feature:hover::before{
   background: none;
}
.feature-name {
   color: #fff;
   transform: rotate(-90deg);
   font-size: 50px;
   letter-spacing: 2px;
   transition: .5s ease;
   max-width: 100%;
   margin-bottom: 120%;
}
.feature:hover .feature-name{
   color: black;
   transform:rotate(0deg);
   margin-bottom: 3%;
   margin-left:20%;
}